/* font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Raleway', sans-serif; 
font-family: 'Orbitron', sans-serif;*/

.hero {
    /* The image used */
    /* background-image: url("../src/assets/images/homepage-img.jpg"); */
    background: linear-gradient(transparent, 75%, white), url("../src/assets/images/homepage-img.jpg");
    height: 1000px;
    min-width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
}

.hero-logo {
    position: absolute;
    min-width: 100%;
    text-align: center;
}

.hero button {
    background-color: #FCDE92;
    font-family: 'Rajdhani', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 15px
}

.hero button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

.hero button a {
    color: black;
    text-decoration: none;
}

/* @media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
} */

.hero h1 {
    font-family: 'Orbitron', sans-serif;
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
}

#what-we-do {
    margin-top: 20%
}

.what-we-do-right {
    max-width: 60%;
    justify-content: center;
    margin: auto;
    text-align: start;
}

.what-we-do-right p {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding-top: 30px
}

.what-we-do-right ul li {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    font-size: 25px;
}

.what-we-do-right ul {
    margin-top: 40px
}

.what-we-do-right a {
    text-decoration: underline #0D6EFD;
    color: black
}

.what-we-do-right button {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-color: black;
    margin-top: 30px;
}

.what-we-do-right button a {
    text-decoration: none;
}


.what-we-do-right button:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.what-we-do-right button:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

#what-we-do img {
    max-width: 90%;
    margin-top: 25%;
}

#why-choose-us {
    margin-top: 10%;
    height: 370px;
    background-color: rgb(229, 229, 229);
    padding-top: 20px;
}


#why-choose-us i {
    font-size: 50px;
    margin-top: 50px
}

#why-choose-us h2 {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    margin-top: 20px
}

#why-choose-us p {
    font-size: 15px;
    padding-right: 30px;
    padding-left: 30px;
    font-family: 'Poppins', sans-serif;
}

#where-we-serve {
    margin-top: 10%
}

#where-we-serve img {
    max-width: 50%;
}

.location-pins {
    height: 200px;
    background-color: rgb(229, 229, 229);
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#where-we-serve i {
    font-size: 40px;
    margin-top: 70px
}

.row {
    --bs-gutter-x: 0rem
}

#where-we-serve .col-md-1 {
    margin-left: 50px;
    margin-right: 50px
}

#contact {
    margin-top: 10%;
    margin-bottom: 10%
}

.contact-info {
    background-color: rgb(229, 229, 229);
    width: 60%;
    margin: auto;
    margin-top: 10%;
    height: 85%;
    border-radius: 2%;
}

.contact-details {
    text-align: center;
}

.contact-details h2 {
    padding-top: 15%;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.contact-details h3 {
    font-family: 'Montserrat', sans-serif;
}

.contact-details h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-bottom: 25px
}

.contact-details i {
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    text-shadow: 0px 0px 5px #FFFFFF;
    margin-top: 25px;
    color: black
}

#contact p {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

#contact form {
    max-width: 70%;
    margin: auto;
    margin-top: 5%
}

input:focus,
textarea:focus {
    outline: none;
    outline-width: 0;
}

#contact form label {
    font-family: 'Rajdhani', sans-serif;
}

#contact form input,
#contact form textarea {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid black;
}

#contact form textarea {
    height: 150px
}

#contact form button {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-color: black
}

#contact form button:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

#contact form button:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

#confirm {
    background-image: url('./assets/images/homepage-img.jpg');
    height: 900px;
    min-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.confirmation-text {
    position: absolute;
    min-width: 100%;
    text-align: center;
    margin-top: 20%;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
}

#confirm a {
    font-family: 'Rajdhani', sans-serif;
    color: white; 
}

@media (max-width: 1300px) {
    #why-choose-us {
        height: 400px
    }

    .contact-info {
        width: 80%
    }

    .contact-details h2 {
        padding-top: 15%
    }
}

@media (max-width: 1100px) {
    #why-choose-us p {
        padding-left: 20px;
        padding-right: 20px
    }

    #why-choose-us i {
        margin-top: 20px;
    }

    #where-we-serve img {
        max-width: 60%;
    }

    #where-we-serve i {
        margin-top: 50px;
    }
}

@media (max-width: 950px) {
    #why-choose-us {
        margin-top: 25%;
    }

    #where-we-serve {
        margin-top: 25%;
    }

    #contact {
        margin-top: 25%;
    }

    #why-choose-us p {
        font-size: 13px;
    }

    #where-we-serve i {
        margin-top: 30px;
        font-size: 30px
    }

    .location-pins {
        height: 150px
    }

    #where-we-serve .col-md-1 {
        margin-left: 30px;
        margin-right: 30px;
    }

    #contact form {
        width: 100%
    }

    .contact-details h2 {
        font-size: 25px;
        padding-top: 25%;
    }

    .contact-info {
        width: 90%
    }

    #contact p {
        margin-top: 30px
    }

    .contact-details h3 {
        font-size: 20px
    }

    .what-we-do-right p {
        font-size: 15px;
    }

    .what-we-do-right ul li {
        font-size: 15px;
    }

    #what-we-do img {
        max-width: 90%;
    }

    #footer h1 {
        margin-top: 0px;
    }
}



@media (max-width: 775px) {
    .hero-logo img {
        max-width: 50%;
    }

    .hero {
        height: 800px;
    }

    .hero h1 {
        margin-top: 10px
    }

    h1 {
        margin-top: 50px
    }

    .what-we-do-right {
        max-width: 80%
    }

    .what-we-do-right p {
        font-size: 15px;
    }

    .what-we-do-right ul li {
        font-size: 15px;
    }

    #why-choose-us {
        height: 850px;
    }

    #why-choose-us p {
        font-size: 15px;
        padding-left: 50px;
        padding-right: 50px
    }

    .location-pins {
        height: 300px;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    .location-pins i {
        display: none;
    }

    #where-we-serve .col-md-1 {
        margin-top: 9px
    }

    .contact-details h2 {
        font-size: 25px;
        padding-top: 5%;
    }

    .contact-info {
        width: 80%;
        height: 300px;
    }

    #contact p {
        margin-top: 10%
    }

    .contact-details h3 {
        font-size: 20px
    }

    #footer ul {
        display: none;
    }

    #confirm {
        height: 700px; 
    }

    .confirmation-text {
        font-size: 20px;
        padding-left: 20px; 
        padding-right: 20px; 
        margin-top: 40%
    }
}

@media (max-width: 550px) {
    #why-choose-us {
        margin-top: 35%;
    }

    #where-we-serve {
        margin-top: 35%;
    }

    #contact {
        margin-top: 35%;
    }

    .hero button {
        font-size: 12px;
    }

    .hero {
        height: 600px;
    }

    .what-we-do-right p {
        font-size: 18px;
    }

    .what-we-do-right ul li {
        font-size: 18px;
    }

    #why-choose-us {
        height: 900px;
    }

    #where-we-serve img {
        max-width: 70%;
    }

    .contact-details h2 {
        font-size: 20px;
        padding-top: 8%;
    }

    .contact-info {
        width: 90%
    }

    #contact p {
        margin-top: 20%
    }

    .contact-details h3 {
        font-size: 20px
    }
}

@media (max-width: 475px) {

    #why-choose-us {
        height: 1000px;
    }

    .location-pins {
        height: 250px;
        font-size: 18px;
    }

    #where-we-serve .col-md-1 {
        margin-top: 7px
    }

    .contact-details h2 {
        padding-top: 10%;
    }

    .contact-info {
        width: 90%
    }

    .contact-details h3 {
        font-size: 20px
    }

    .contact-details h4 {
        font-size: 12px
    }

    .contact-details i {
        font-size: 20px;
    }
}


@media (max-width: 375px) {
    #why-choose-us {
        margin-top: 50%;
    }

    #where-we-serve {
        margin-top: 50%;
    }

    #contact {
        margin-top: 50%;
    }

    .hero {
        height: 400px;
    }

    #why-choose-us {
        height: 1100px;
    }

    .contact-info {
        height: 250px;
        margin-top: 10px;
    }

    #contact p {
        font-size: 15px;
    }

}