main {
    background-color: rgb(229, 229, 229);
}

.services-carousel {
    margin: auto; 
    padding-top: 5%; 
    max-width: 60%;
}

.services-options {
    width: 40%; 
    height: 200px;
    margin: auto; 
    background-color: #FFFFFF;
    margin-top: 15%
}